<!DOCTYPE html>
<html ng-app="interactiveMap">
<head>
	<title>Electoral Map</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript" src="js/states-object.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>

</head>
<body ng-controller="interactiveMapCtrl">
	<div id="header">
		<h1>Interactive Electoral Map</h1>
		<h3>Click on states to view changes</h3>
	</div>
	<div id="wrapper">
		<div id="vote-bar-wrap">
			<div class="blue">Democrats</div>
			<div class="red">Republicans</div>
			<div id="color-bar">
				<div id="blue-bar" class="bar blue-bar" ng-style="{'width':blueWidth}">{{blueStateVotes}}</div>
				<div id="open-bar" class="bar open-bar" ng-style="{'width':openWidth}">{{openStateVotes}}</div>
				<div id="red-bar" class="bar red-bar" ng-style="{'width':redWidth}">{{redStateVotes}}</div>
			</div>
			<div class="row" id="info">
				<div id="reset">
					<button class="reset" ng-click="resetStates()">Reset Map</button>
				</div>
				<div class='neededVotes'>
				The Democrats need {{neededBlueVotes}} to win.
				</div>
				<div class="neededVotes">
				The Rupublicans need {{neededRedVotes}} to win.
				</div>
			</div>
		</div>
	</div>

	<div id="main-wrapper">
		<div id="map-wrapper">	
			<svg width="750" height="500">
				<g ng-click="stateClicked(state)" ng-repeat="state in states | filter: isSmall = false">
					<path class="state {{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white"></path>
					<foreignObject ng-attr-x="{{state.nameX}}" ng-attr-y="{{state.nameY}}">
						<div class="state-info">{{state.abbr}}<br>{{state.electoralVotes}}</div>
					</foreignObject>
				</g>
				<g ng-repeat="state in states| filter: isSmall = true" ng-click="stateClicked(state)">
					<path class="state {{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white"></path>
					<table>
						<tr ng-repeat="state in states| filter: isSmall = true" ng-click="stateClicked(state)">
							<td>{{state.name}}</td>
							<td class="state {{state.stateColor}}" id="smallVotes">{{state.electoralVotes}}</td>
						</tr>
					</table>
				</g>
			</svg>
		</div>
	</div>

	<li ng-repeat="state in states">{{state.name}}</li>

</body>
</html>